*{
    margin:0px;
    padding: 0px;
}

@font-face {
    font-family: Odin;
    src: url(./fonts/Norse-Bold.otf);
}

body{
    display: flex;
    background-color: black;
}

.sidebar{
    background-image:url(./images/bg-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width:25%;
    margin-left: 15%;
}

.logo{
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0,0.5);
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    box-sizing: border-box;
    margin-top: 180px;
    font-family: Odin;
    font-size: 40px;
}

.logo img{
    height: 110px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    width: 45%;
}

.input_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(250, 250, 250);
}

.user_input{
    display: flex;
    flex-direction: column;
}

