*{
    margin:0px;
    padding: 0px;
}

@font-face {
    font-family: Odin;
    src: url(./fonts/Norse-Bold.otf);
}

body{
    display: flex;
    background-color: black;
    font-family: Arial, sans-serif;
}

.sidebar{
    background-image:url(./images/bg-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width:26%;
    margin-left: 15%;
}

.logo{
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0,0.5);
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    box-sizing: border-box;
    margin-top: 205px;
    font-family: Odin;
    font-size: 45px;
}

.logo img{
    height: 120px;
}

.form{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(245, 245, 245);
    width: 44%;
    gap: 30px;
    
}

p{
    font-size: 23px;
    font-weight: bold;
    margin-left: 40px;
    margin-right: 140px;
}

legend{
    background-color: rgb(250, 250, 250);
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
    padding: 15px 40px 0px 40px;
}

.input_bg{
    background-color: rgb(250, 250, 250);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    padding: 30px 40px;
    width: 75%;
}

.user_input{
    display: flex;
    flex-direction: column;
    width: 250px;
}

.user_input>input{
    margin-top: 5px;
    padding-left: 5px;
    height: 30px;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    border: 1px solid #E5E7EB;
}

.user_input>input:focus{
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.45);
    border-color: blue;
    outline: none;
}

.user_input>input:invalid{
    border-color: red;
}

.user_input>label{
    font-size: 12px;
    font-weight: bold;
    color: rgb(40,40,40);
}

.submit{
    margin-top: 30px;
    margin-left: 40px;
    padding: 10px 40px;
    color:white;
    font-size: 16px;
    font-weight: bold;
    background-color: #596D48;
    border: none;
    border-radius: 10px;
}

.login{
    font-size: 14px;
}

.login > a{
    text-decoration: none;
    color: #596D48;
}